@import url("https://fonts.googleapis.com/css2?family= Inter & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.floco {
  display: flex;
  align-items: center;
}
body {
  background-color: #e4eef1;
}
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  background-color: #4b93bf;
  color: #e4eef1;
}
ul {
  align-items: center;
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
  font-size: 28px;
}
li {
  list-style: none;
}
h2 {
  font-size: 28px;
}
article {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
p {
  display: flex;
  width: 587px;
  height: 265px;
  flex-direction: column;
}
.gramado {
  background-color: #4b93bf;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gramado h2 {
  color: #e4eef1;
}
.imagens {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagens figure {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
footer {
  background-color: #4b93bf;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #e4eef1;
}
footer p {
  height: 100px;
  text-align: center;
}
footer div figure img {
  width: 95px;
}
